<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4353b281-471f-43db-9211-801c9b1e207f/resourcegroups/DDAC_WebApp_CUS/providers/Microsoft.Web/sites/DDACprojectTP031656centralUS</ResourceId>
    <ResourceGroup>DDAC_WebApp_CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddacprojecttp031656centralus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddacprojecttp031656centralus.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DDACprojectTP031656centralUS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DDACprojectTP031656centralUS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADDomain>guanghui1995hotmail.onmicrosoft.com</ADDomain>
    <EnableADPublish>true</EnableADPublish>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tp031656.database.windows.net,1433;Initial Catalog=ddac_DB;Persist Security Info=False;User ID=franky;Password=@dmin123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:tp031656.database.windows.net,1433;Initial Catalog=ddac_DB;Persist Security Info=False;User ID=franky;Password=@dmin123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DDAC_project.Models.ApplicationDbContext, DDAC_project" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnStringDb1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:tp031656.database.windows.net,1433;Initial Catalog=ddac_DB;Persist Security Info=False;User ID=franky;Password=@dmin123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnStringDb1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:tp031656.database.windows.net,1433;Initial Catalog=ddac_DB;Persist Security Info=False;User ID=franky;Password=@dmin123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://guanghui1995hotmail.onmicrosoft.com/WebApp-ddacprojecttp031656centralus.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>c5df8e0e-80e6-4a06-ba85-604e6259bd22</ADClientAPPID>
    <ADClientPassword>QaavaQytvUtRXjWgnAowhJGW43xdYNt/9HsIRDw5kqQ=</ADClientPassword>
    <ADReplyUrl>https://ddacprojecttp031656centralus.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>ab150ed2-2d98-4b56-9b2f-cc74ce873944</ADTenantId>
    <ADPostLogoutRedirectUri>https://ddacprojecttp031656centralus.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnStringDb1-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tp031656.database.windows.net,1433;Initial Catalog=ddac_DB;Persist Security Info=False;User ID=franky;Password=@dmin123;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>